@import '../../static/third/bootstrap/css/bootstrap.css';
@import '../../static/third/bootstrap/css/bootstrap-btn.css';
@import '../../static/third/bootstrap/css/bootstrap-responsive.css';

@import '../../static/third/bootstrap-notify/css/bootstrap-notify.css';
@import '../../static/third/spectrum/spectrum.css';
@import '../../static/third/jquery-perfect-scrollbar/css/perfect-scrollbar.css';
@import '../../static/styles/zulip.css';
@import '../../static/styles/pygments.css';
@import '../../static/styles/thirdparty-fonts.css';
@import '../../static/styles/fonts.css';

#koi-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
